:root {
    --green: #92d500;
    --palegreen: #91d5007b;
    --darkgreen: #93d500;
    --paleblue: #d7ecf9;
    --blue: #4169E1;
    --darkblue: #165a91;
}

* {
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
    color: var(--darkblue);
}

h3 {
    font-size: 24px;
    color: var(--darkblue);
}

header {
    color: var(--blue);
    font-weight: 900;
    background-color: var(--green);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    width: 90%;
}

.card {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 4rem .5rem 4rem .5rem;
    box-shadow: -1em -1em var(--palegreen);
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--paleblue);
    border: .25rem solid var(--darkblue);
}

#profileimg {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

#profileimg img {
    border-radius: 3rem 1rem 1rem 1rem;
    height: 15rem;
    width: 15rem;
}

#projects {
    display: flex;
    flex-direction: row;
}

#preferredcard {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#preferredlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button {
    text-decoration: none;
    border: none;
    background-color: var(--dark-green);
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    padding: 1em;
    border-radius: .5em;
}
